DATABASE_URL=postgresql://usuari:contrasenya@localhost:5432/veusdedona
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=xcompatrir
MINIO_SECRET_KEY=xcompartir
MINIO_BUCKET=veus-de-dona
SECRET_KEY=xcompartir